.Meta-Inicial{

background-color: darkgray;

}
.MetaH2{

font-size: 30px;
margin-bottom: 10px;
margin-top: ;
color: darkblue; 

}
.MetaT1{

font-size: 22px;
margin: 0;
color: pink;

}
.Box1{

alignment-baseline: 100px;

}
.Box2{



}
.Img_Meta_Edu{



}
.Img_Meta_Invs{



}
.Img_Meta_Jogos{



}
.Img_Meta_Tra{



}
.Meta_Mail{



}
.Meta_Hub{



}